{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <title>Marshal</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.css' %}"  media="screen,projection"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>






  </head>
  <body>

<nav class="indigo z-depth-3" role="navigation" >
  <div class="nav-wrapper container">
  <a href="{% url 'dashboard' %}" class="left brand-logo">Marshal</a>

    {% if request.user.is_authenticated %}
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li class="hoverable"><a href="{% url 'dashboard' %}">Dashboard</a></li>
        <li class="hoverable"><a href="#">Imagens</a></li>
        <li class="hoverable"><a href="{% url 'user_list' %}">Pessoas</a></li>
        <li class="hoverable"><a href="{% url 'logout_then_login' %}">Logout</a></li>
        <li><i class="material-icons left pink-text text-accent-1">account_circle</i><strong class=" left pink-text text-accent-1">{{ request.user.first_name }}</strong></li>
      </ul>
    {% endif %}
  </div>
</nav>

<!-- Mensagens de erros -->
{% if messages  %}
    <ul>
      {% for message in messages  %}
        <li>
          {{ message|safe }}
          <a href="#">X</a>
        </li>
      {% endfor %}

    </ul>
{% endif %}
<!-- Fim  Mensagens de erros -->

{% block content %}{% endblock %}

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="{% static 'js/materialize.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src=" http://cdn.jsdelivr.net/jquery.cookie/1.4.1/jquery.cookie.min.js "></script>

  <script>
  var csrftoken = $.cookie('csrftoken');
  function csrfSafeMethod(method){
    return(/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
  }
  $.ajaxSetup({
    beforeSend: function(xhr, settings){
      if(!csrfSafeMethod(settings.type) && !this.crossDomain){
        xhr.setRequestHeader("X-CSRFToken", csrftoken);
      }
    }
  })
    $(document).ready(function(){
      {% block domready %}
      {% endblock %}
    });
  </script>


  </body>
</html>
