{% extends "base.html" %}

{% block content %}
<head>
  <style type="text/css">
    .top50{
      margin-top: 7em;
    }
  </style>
</head>

<body class="cyan loaded" cz-shortcut-listen="true">
    <div class="row top50">
      <div class="col s2 offset-s5 card z-depth-5">
        <div class="card-content indigo-text center">
              <span class="card-title">Recupere sua senha</span>
              <i class="material-icons large cyan-text">account_box</i>
        </div>
        {% if validlink %}
        <p class="indigo-text">Entre com a nova senha</p>
        <form action="." class="login-form" method="post">
          {{ form.as_p }}
          {% csrf_token %}
          <div class="row">
            <div class="input-field col s10 offset-s1">
              <p><button class="btn waves-effect waves-light col s12 pink hoverable" type="submit">Alterar senha
                <i class="material-icons right">send</i>
              </button></p>
            </div>
          </div>
        </form>
        {% else %}
          <p>The password reset link was invalid, possibly because it has already been used.
          Please request a new password reset.</p>
        {% endif %}
      </div>
    </div>
</body>
{% endblock %}
