{% extends "base.html" %}
{% load staticfiles %}


{% block content %}
<head>
  <style type="text/css">
    .top50{
      margin-top: 4em;
    }
  </style>
</head>

<body class="cyan loaded" cz-shortcut-listen="true">
    <div class="row top50">
      <div class="col s2 offset-s5 card z-depth-5">
        <div class="card-content indigo-text center">
              <span class="card-title">Mundança de senha</span>
              <i class="material-icons large cyan-text">https</i>
        </div>

        <form action="." class="login-form" method="post">
          {{ form.as_p }}

          <!--Porque tem esse input com type="hidden"? -->

          <div class="row">
            <div class="input-field col s10 offset-s1">
              <p><button class="btn waves-effect waves-light col s12 pink hoverable" type="submit">Mudar senha
                <i class="material-icons right">send</i>
              </button></p>
            </div>
          </div>
            {% csrf_token %}
        </form>
      </div>
    </div>
</body>
{% endblock %}
